body,html{
	padding: 0;
	margin: 0;
}


*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul,
ol,
li{
	list-style: none;
}

img{
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body{
	line-height: 1;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	

}

.wrapper{
	min-height: 100%;
	overflow: hidden;
}

.container{
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;

}

/*HEADER---------------------------------------------*/
.header__all {
	width: 100%;
	background: url(../images/picture.jpg)center no-repeat;
	background-size: cover;
}


.header {

}

.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85px;

}

.header__container.container {

}

.header__logo{
	font-size: 25px;
	font-weight: 700;
}

.link{
	font-size: 13px;
	margin: 40px 0px 0px 50px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.link_f{
	border-bottom: 2px solid #FFD286;
	padding: 10px 0px 0px 0px;
	color: #FFD286;
}

.link.hover:hover{
	text-decoration: underline;
	color: #F6F700;
	transition: 1s;
}

.link: nth-child(1){
	margin: 0;
}

/*section1-------------------------------------------*/

.intro__title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 70px 0px 0px 0px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	
}

.suptitle {
	font-size: 50px;
	font-family: 'Kaushan Script', cursive;
	margin: : 50px 0px 0px 0px;
}

.title {
	margin: 50px 0px 0px 0px;
	font-size: 130px;
}

.title:after {
	content: '';
	width: 60px;
	height: 3px;
	display: block;
	background-color:#fff;
	margin: 30px auto 0px;
}

.btn {
	margin: 20px auto;
	padding: 8px 25px;
	display: inline-block;
	vertical-align: top;
	border: 3px solid #fff;
	color: #fff;
}

.slider {
	display: flex;
	justify-content: space-between;
}

.slider__item {
	position: relative;
	font-size: 16px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 0px;
	opacity: 1;
}

.slider__item:before {
	content: '';
	width:250px;
	height: 2px;
	display: block;
	background-color: #fff;
	margin: 15px auto;
	color: #fff;

}

.slider__num {
	opacity: .7;
	font-size: 12px;
}


/*section2----------------------*/

.section--clients{
	background:url(../images/background.jpg)center no-repeat;
	background-size: cover;
}

.section {
	padding: 30px 0px;

}
.section--devices {
	padding-bottom: 0;
	width: 100%;
	background: url(../images/phone.jpg)center no-repeat;
	background-size: cover;
}


.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;
	line-height:1.5;
}

.section__suptitle{
	font-size: 26px;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}

.section__title{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}

.section__title:after {
	content: '';
	width: 60px;
	height: 2px;
	display: block;
	background-color: #FF8282;
	margin: 40px auto;
}

.section__text{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-align: center;
}

/*cards------------------------------------*/

.cards {
	display: flex;
	justify-content: space-between;
	margin: 80px -15px 0px;
	flex-wrap: wrap;

}


.cards__item {
	width: 33.3333%;
	margin: 100px 0px;
	padding: 0 15px;


}


.card__inner {
	position: relative;
	background-color: #63E2D3;
}

.card__name{
margin: 25px;
text-align: center;
}

.card__prof{
	padding: 15px 0px 0px 0px;
	font-style: italic;
	font-size: 14px;
}

.card__pers{
	font-size: 18px;
	text-transform: uppercase;
}



.cards__img {
	background: linear-gradient(to bottom, #FFE285, #FF8482);
	transition: transform .3s linear;
	max-width: 100%;
	height: auto;
}

.cards__item:hover .cards__img img{
	opacity: .1;

}


.cards__item:hover .cards__img {
	transform: translate3d(-10px,-10px, 0px);
}


.cards__img img {

	transition: opacity .5s linear;
}

.cards__text {
	width: 100%;
	
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	opacity: 0;

	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);

	transition: opacity .3s linear;
}

.cards__item:hover .cards__text{
	opacity: 1;
}

/*statistics--------------*/

.statistics {
	background-color:#95e1d3; 
	font-family: 'Montserrat', sans-serif;
}
.stats {
	margin: 100px 0;
	display: flex;

	flex-wrap: wrap;

}
.block__stats {

	padding: 70px 25px;
	flex: 1 1 0;
	border-left: 2px solid #b5eae0;
	text-align: center;
	color: #fff;

}

.block__stats:last-child{
	border-right: 2px solid #b5eae0;
}

.num__stats {
	text-transform: uppercase;
	font-size: 55px;
	font-weight: 700;
}

.text__stats {
	font-size: 15px;
	text-transform: uppercase;
	padding: 30px 0px 0px 0px;
}



/*SERVICES---------------------------------*/

.activity {
	font-family: 'Montserrat', sans-serif;
}
.option {
	display: flex;
	flex-wrap: wrap;

}
.option__item {
	width: 33.3333%;
	position: relative;
	padding: 70px 60px;

}

.option__item--mod{
	border-bottom: 2px solid #e5e5e5;
}


.item__icon {
	position: absolute;

}
.item__title {
	padding: 0px 0px 20px 60px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.item__text {
	padding: 0px 0px 0px 60px;
	font-size: 15px;
	line-height: 1.5em;
	}





/*devices------------------*/

.devices {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%
	max-width:700px;
	position: relative;
	margin: 0 auto;

}

.devices__item{
	display: block;
}
.devices__item--iphone{
	width: 100%;
	max-width: 240px;
	height: 100%;
	max-height: 435px;
	position: absolute;
	bottom: -90px;
	right: 120px;
	z-index: 1;
	
}

/*INTRO-----------------------*/

.what__wedo{
	display: flex;
}

.wedo__item{
	margin: 30px 0px 0px 0px;
	flex: 1 1 0;
}


.text--icon {
}


.menu__wedo {
	display: flex;
	flex-direction: column;
}


.menu__item {
	border: 1px solid #e5e5e5;
}


.menu__header {
	display: flex;
	align-items: center;


	padding: 14px 20px;
	border-bottom: 1px solid #e5e5e5;
}


.menu__icon {
}


.menu__title {
	padding: 0px 0px 0px 15px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;

}


.menu__content {
	display:;

	padding: 15px 20px;
	font-size: 15px;
	color: #999;
	font-weight: 300;
	font-style: italic;
	line-height: 1.4em;
}

.menu__item.block2{
	margin: 5px 0;
}

.menu__item.block3{
	margin: 5px 0;
}



/*autor----------------------*/

.autor {
	display: flex;
	width: 100%;
	height: 290px;
	background-color: #f8f8f8;


	align-items: center;
	padding: 50px 100px;
}


.autor__item {
	flex:1 1 0;
	flex-direction: row;
}


.autor__icon {
	position: relative;
	align-items: center;
}


.autor__text {
	width: 100%;
	margin: 0px 0px 50px 10px;
	line-height: 1.4em;

	color: #999;
	font-size: 15px;
	font-style: italic;
}

.line {
	content: '';
	display: block;
	width: 65px;
	height: 2px;
	background-color: #f38181;
	position: relative;

}


.signature {
	display: flex;

	align-items: center;
	position: absolute;
	flex-direction: row-reverse;

	margin: -20px 0px 0px 10px;
}

.signature p{
	margin: 0px 0px 0px 10px;
	font-family: 'Kaushan Script', cursive;
	font-size: 17px;
}



/*our team---------------------*/

.cards__icon {
	width: 100%;

	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	opacity: 0;

	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);

	transition: opacity .3s linear;
}

/*Social------------------------------*/


.social {
	display: flex;
	justify-content: center;
}

.social__item {
	width: 55px;
	height: 55px;
	padding: 12px 10px;

	border-right: 1px solid #f38181;
	background-color: #fce38a;

	transition: background .5s linear, 
	color .1s linear;
}

.social__item:hover{
	background-color: #f38181;
	color: #fff;
}


/*brends--------------------------------------*/


.bg__section {
	width: 100%;
	height: 250px;

	background-color: #F8F8F8;
}


.logoss {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logoss__item {
	margin: 50px auto;
}



/* Works-----------------*/

.works{
	margin:70px 0px 0px 0px;
	display: flex;
}

.works__column {
	flex: 1 1 0;
}

.works__item{
	position: relative;

	background: linear-gradient(to bottom, #FFE285, #FF8482);
	
}

.works__item:hover .works__img {
	opacity: .1;
}

.works__item:hover .works__info{
	opacity: 1;
	
}

.works__info{
	position: absolute;

	top: 50%;
	left: 25%;
	z-index: 1;

	opacity: 0;

	line-height: 1.5;

	align-items: center;
	color: #fff;


	transform:translate3d(0, -50%, 0);
	transition: opacity .2s linear;
}

.works__title{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}

.works__text{
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
}

.works__img{
	max-width: 100%;
	height: auto;			/*адаптация картинок*/

	transition: opacity .2s linear;
}


/*Clients----------------------*/


.clients{
	display: flex;
	flex-wrap: wrap;
}

.client__column{
	flex: 1 1 0;
	margin: 70px 0px 0px 20px;
}

.client__item{
	position: relative;
	align-items: center;

	padding: 0px 0px 0px 20px;
	margin: 0px 0px 60px 0px;

}

.client__info{
	position: absolute;

	top: 0;
	left: 25%;
	z-index: 1;

	align-items: center;
}

.client__prof {
	margin: 20px 0;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
}

.client__prof:after{
	margin: 15px 0px 0px 0px;
	content: '';
	width: 70px;
	height: 2px;
	display: block;
	background-color: #f38181;
}

.client__foto{
	margin: 10px 0px 0px 0px;
}

.client__text{
	color: #999;
}

.client__name {
	text-transform: uppercase;
	font-weight: 700;
}

.columnn{
	margin: 80px 0px;
}


/*BLOG------------------------------*/

.blog{
	display: flex;
	
	max-width: 100%;
	height: auto;
}

.blog__header {
	position: relative;
}

.blog__item{
	flex:1 1 0;
	padding: 0px 5px 0px 10px;
}

.blog__photo{
	display: block;
	max-width: 100%;
	height: auto;
}

.blog__data{
	position: absolute;
	padding: 15px 20px;

	bottom: 10px;
	left: -10px;
	z-index: 1;

	line-height: 1.5;
	text-align: center;

	background-color: #95e1d3;
}

.data__num{
	font-size: 24px;
	font-weight: bold;
}

.data__month{
	font-size: 15px;
	font-style: italic;
}

.blog__title{
	margin: 25px 0px 0px 0px;

	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.blog__title a {
	color: #000;
}

.blog__text{
	margin: 20px 0px 0px 0px;

	font-size: 16px;
	color: #b3b3b3;
	font-weight: 300;
	line-height: 1.3;
}

.blog__stats{
	margin: 35px 0px 0px 0px;
	padding: 0;

	color: #b3b3b3;
}

.blog__stats i{
	color: #95e1d3;
}

.blog__stats:before {
	content: '';
	display: block;
	width: 380px;
	height: 2px;
	background-color:#e5e5e5;
	margin: 0px 0px 20px 0px;

}

.far.fa-address-card{
	font-size: 20px;
}

.fas.fa-vote-yea{
	font-size: 20px;
}

.blog__stats a {
	color: #000;
}

.sev{
	padding: 0px 0px 0px 20px;
}



/*MAP-------------------------------*/

.section--map{
	background-color: #e6e6e6;

	margin: 0px 0px 30px 0px;
}

.map{
	text-align: center;
}

.fas.fa-globe-americas{
	font-size: 30px;
}

.map__title{
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

.map__title:after{
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	background-color:#f38181;
	margin: 20px auto;
}

.map__title a {
	color: #000;
}

.map__title i {
	color: #f38181;
}

.map__icon {
	margin: 0px 0px 20px 0px;
}


/*Footer------------------------*/

.footer__inner {
	padding-bottom: 65px;
	display: flex;
}

.footer{
	padding: 65px 0px 0px 0px;
}

.footer__column--first{
	width: 40%;
}

.footer__column--second{
	width: 29%;
	margin-left: 30px;
}

.footer__column--third{
	width: 22.5%;

}

.footer__logo{
	font-size: 35px;
	color: #cccccc;
	font-weight: 700;
}


.footer__text {
	margin: 20px 0px 0px 0px;
	line-height: 1.3em;
	color: #999;
	font-size: 14px;
}

.footer__header{
	padding:20px 0px 0px 0px;
}

.footer__header b{
	text-transform: uppercase;
	font-weight: 700;
}

.footer__header span {
	color: #000;
	font-weight: 500;
}

.footer__content{
	margin: 20px 0px 0px 0px;

	font-size: 18px;
	font-style: italic;
	font-weight: 300;
}

.footer__content a {
	display: inline-block;
	vertical-align: middle;

	margin-left: 10px;
	color: #95e1d3;
	font-size: 20px;
}

.footer__content i {
	margin-left: 15px;
}


.footer__header:after{
	content: '';
	display: block;
	width: 460px;
	height: 2px;
	background-color: #e5e5e5;

	margin: 25px 0px 0px 0px;
}


/*Subscribe------------*/

.subscribe {
	display: flex;

	width: 100%;
	max-width: 380px;

	margin: 30px 0px 0px 0px;
}
.subscribe__input {
	height: 40px;

	background: #fff;
	border: 1px solid #e7e7e7;

	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-style: italic;
	color: #ccc;
	font-weight: 300;

	padding:12px;
}

.subscribe__input::placeholder {
	color: #ccc;
}


.subscribe__btn {
	height: 40px;

	cursor: pointer;

	background-color: #95e1d3;
	color: #fff;
	border: solid 1px #e7e7e7;

	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;

	padding:12px 30px;
	text-align: center;

	border: 0;

	transition: background .2s linear;

}

.subscribe__btn:hover{
	background-color: #447d73;
}


/*Blogs------Footer--------------*/

.blogs__item {
	display: flex;
	align-items: center;
	margin: 35px 0px 0px 0px;
}

.blogs__img{
	position: relative;
}

.blogs__text{
	position: absolute;
	padding-left: 125px;

	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.5em;
}

.blogs__date{
	padding: 45px 0px 0px 5px;

	font-size: 13px;
	font-style: italic;
	font-weight: 300;
}


.blogs__title{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}


/*Instagram---------------*/

.instagram{
	display: flex;
	flex-wrap: wrap;
	margin: 35px 0px 0px 0px;
}

.instagram__item{
	flex: 1 1 0;
	border: 1px solid #fff;
	width: 33.3333%;
}

.instagram__item img {
	display: block;

}



/*Copyright---------------*/

.copyright {
	text-align: center;

	margin-bottom: 30px;

	font-size: 14px;
	color: #000;
}

.copyright span{
	color: #f5b2b2;
}


.copyright:before {
	content: '';
	display: block;
	width: 1200px;
	height: 2px;
	background-color: #e5e5e5;
	margin-bottom: 30px;
}

/*Intro*/
@media (max-width: 1230px) {
	.suptitle {
		font-size: 35px;
	}
	.title{
		font-size: 100px;
	}
}

@media (max-width: 990px) {
	.suptitle {
		font-size: 25px;
	}
	.title{
		font-size: 80px;
	}
	.stats{
		justify-content: center;
	}

	.block__stats{
		flex: none;
		width: 33.3333%;
		border: 0;
	}

	.block__stats:last-child{
		border-right: 0;
	}
}

@media (max-width: 770px) {
	.link {
		display: none;
	}
}

/*Nav*/

@media (max-width: 480px) {
	.suptitle {
		font-size: 15px;
	}
	.title{
		font-size: 50px;
	}
}

/*Slider*/

@media (max-width: 770px) {
	.slider__num {
		display: none;
	}
}


@media (max-width: 770px){
	.slider__item:before {
		width: 70px;
	}

	/*section*/
	.section {
		padding: 40px 0;
	}


	/*card*/

	.cards{
		justify-content: center;
	}

	.cards__item{
		width: 100%;
		max-width: 410px;

		margin: 0;
	}
	.cards__item:last-child{
		margin-bottom: 0;
	}

	.cards__item {
		margin: 20px 0;
	}

	.option__item{
		width: 50%;
	}
}

@media (max-width: 575px){
	.section__title {
		font-size: 18px;
	}

	.section__suptitle{
		font-size: 20px;
	}

	.section__text{
		font-size: 12px;
	}

	.section__title:after{
		margin: 20px auto;
	}

	.section__header{
		margin: 0 auto 20px;
	}

	.cards__item {
		margin: 15px 0;
	}

	.block__stats{
		padding: 20px 17px;

		width: 100%;
	}

	.text__stats{
		padding: 10px 0px 0px 0px;
	}

	.stats{
		margin: 25px 0;
	}

	.option__item{
		justify-content: center;
		width: 100%;
		max-width: 400px;
		padding-right: 0;

		border-bottom: 0;
	}

	.option__item {
		padding: 30px 35px;
	}
}




